# lembre de colocar o nome da pasta sem o ponto na frente
# Para ignorar todos arquivos e sub-pastas localizados na pasta BaseConhecimento
BaseConhecimento

# Para ignorar todos os arquivos e sub-pastas da pasta BaseConhecimento/
BaseConhecimento/

# Ignorar a pasta base
base/

# Ignorar a pasta figs
figs/

# Ignorar a pasta Qt5
Qt5/
